.container {
    padding: 20px;
    margin: 10px auto 10px auto;
    background-color: #4a148c;
    color: #660033;
    border: solid white 2px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #330033;
    background-color: #00FF00;
    text-align: center;
    font-family: 'Freckle Face', cursive;
    padding: 20px;
    border: solid #151515 1px;
    font-size: 60px;
    text-shadow: 1px 1px lightgrey,
                2px 2px #660033,
                3px 3px #660033,
                4px 4px #660033,
                5px 5px #660033;
    box-shadow: 5px 5px 5px black;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#timer {
    background-image: url("https://wallpaper-gallery.net/images/scary-desktop-backgrounds/scary-desktop-backgrounds-10.jpg");
    color: #00FF00;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px lightgrey,
                2px 2px #660033,
                3px 3px #660033,
                4px 4px #660033,
                5px 5px #660033;
    box-shadow: 5px 5px 5px black;

}

#questions-div {
    color: white;
    font-size: 36px;
    background-color: #4a148c;
    font-family: 'Oswald', sans-serif;
    display: none;
}

#button {
    width: 100%;
    margin: 10px auto 10px auto;
    font-size: 48px;
    background-color: #00FF00;
    color: #330033;
    border: dotted 2px;
    font-family: 'Freckle Face', cursive;
    text-shadow: 1px 1px lightgrey,
                2px 2px #660033,
                3px 3px #660033,
                4px 4px #660033,
                5px 5px #660033;
    box-shadow: 5px 5px 5px black;
}

#submit {
    width: 100%;
    margin: 10px auto 10px auto;
    font-size: 48px;
    background-color: #00FF00;
    color: #330033;
    border: dotted 2px;
    font-family: 'Freckle Face', cursive;
    text-shadow: 1px 1px lightgrey,
                 2px 2px #660033,
                 3px 3px #660033,
                 4px 4px #660033,
                 5px 5px #660033;
    box-shadow: 5px 5px 5px black;
}

#results {
    font-size: 48px;
    color: #00FF00;  
    display: none;
}

.img-head {
    border: white 1px solid

}

.question-images {
    border: 1px solid white;
    box-shadow: 10px 10px 10px black;
}

.odd {
    background-color: #9370DB;
    padding: 10px;
    margin: 0 auto 0 auto;
    border: 1px dotted white;
    box-shadow: 10px 10px 10px black;
}

.even {
    background-color: #8FBC8F;
    padding: 10px;
    margin: 0 auto 0 auto;
    border: 1px dotted white;
    color: black;
    box-shadow: 10px 10px 10px black;
}