.container{
    padding: 20px;
    margin: 10px auto 10px auto;
    background-color: #FF6633;
    color: #660033;
    font-family: 'Arvo', serif;
    border: solid white 2px;
}

h1 { 
    color: #660033;
    text-align: center;
    font-family: 'Arvo', serif;
    background-color: #53D901;
    padding: 20px;
    border: solid #151515 1px;
}

h2 {
    text-align: center; 
    font-family: 'Arvo', serif;
}

p {
    font-weight: bold;
    font-size: 20px;
}

#timer {
   background-color:#000000;
   color:#FF4000;
   margin-top: 20px;
   margin-bottom: 0;
}

#question-div {
    color: black;
    font-size: 20px;
}